.Details {
  background-color: #b8d3ee;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3em;
  padding: 1em;
  border-radius: 1em;
  max-width: 70%;
}

.Image {
  opacity: 1;
  width: 40rem;
  height: 32rem;
  background: transparent no-repeat center;
  background-size: cover;
}


.rightSide {
  width: 40rem;
  padding: 1em;
  margin: 2em;
  overflow-wrap: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
  align-content:center

}

.Info {
  display: flex;
  flex-direction: row;
}

.DetailTempers{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 15em;
}
.showTemps{
  display: flex;
  flex-direction: row;
  margin: 2em;
}
.BreedName {
  font-family: "Abril Fatface", cursive;
  font-size: 4em;
  margin: 0;
}
.Col{
  margin: 1rem;
}
h4 {
  font-family: "Abril Fatface", cursive;
  font-size: 1.5em;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  font-weight: bolder;
  color: #374747;
}

