.Details {
  background-color: #b8d3ee;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vw;
  padding: 1vw;
  border-radius: 1vw;
  max-width: 70%;
  overflow: hidden;

}

.Image {
  opacity: 1;
  width: 40vw;
  height: 40vh;
  background: transparent no-repeat center;
  background-size: cover;
  overflow: hidden;
}


.rightSide {
  width: 40vw;
  height: 40vh;  padding: 1em;
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
  align-content:center;
  overflow: hidden;

}

.Info {
  display: flex;
  flex-direction: row;
}

.DetailTempers{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 15em;
}
.showTemps{
  display: flex;
  flex-direction: row;
  margin: 2em;
}
.BreedName {
  font-family: "Abril Fatface", cursive;
  font-size: 2em;
  margin: 0;
  color:#494949 ;

}
.Col{
  margin: 1rem;
}
h4 {
  font-family: "Abril Fatface", cursive;
  font-size: 1.5em;
  color:#494949 ;

}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8em;
  color: #374747;
  font-weight: bold;

}

