body{
  display: flex;
  flex-direction: column;
  background-image: url(./Assets/img/dog-landing.jpg);
  background-color: #b8eeee;
  background-repeat: no-repeat;
  background-position: bottom ;
  background-attachment: fixed;
  background-size: cover;
  max-height: 100vh;
  margin: 0;
}

button{
  cursor:pointer
}
 a{
  text-decoration: "none";
  color: "inherit";
 }

h1{
  font-family: 'Abril Fatface', cursive;      
  font-size: 5rem;
  justify-items: center;
}
h3{
  padding: 0px;
  margin: 0px;
}

h4{
  padding: 0px;
  margin: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');