.TopBar {
  display: flex;
  flex-direction: row;
  background: #cdf3f3;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
}

.Filter {
  padding: 0em 1em;
  display: flex;
  flex-direction: row;
}

.Order {
  padding: 0em 1em;
  display: flex;
  flex-direction: row;
}

.Search {
  padding: 0em 1em;
  display: flex;
  flex-direction: row;
}

.Reset {
  margin: 1px;
  background-color: #494949;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.Numbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Num {
  margin: 2px;
  background-color: #494949;
  color: #b8d3ee;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  width: 3em;
}

.Num:hover {
  background: #b8d3ee;
  color: #494949;

  text-decoration: none;
}
.selectedPage {     
  margin: 2px;
  background-color: #a4cbf3;
  color: #494949;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  width: 3em;

}
.Reset:hover {
  background: #eeb8b8;
  color: #494949;
}