.Landing {
  display: flex;
  flex-direction: row;
  color: #494949;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
  border: #494949;
}

.Title {
  font-family: "Abril Fatface", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self:center;
  align-content: center;
  width: 530px;

}

.dogPic {
  display: flex;
  align-items: stretch;
  max-width: 100%;
  max-height: 100%;
  position: absolute bottom 0;
  margin: 0;
}
.EnterSite {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #d5f9fa;
  font-size: 36px;
  background: #494949;
  padding: 11px 20px 10px 20px;
  text-decoration: none;
}

.EnterSite:hover {
  color: #494949 !important;
  background: #9ac6f3;
  border-color: #b8d3ee !important;
  text-transform: uppercase;
  transition: all 0.2s ease 0s;
  border-radius: 1rem;
}
